<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title> Mock Profile </title>
  <meta name="description" content="A description of your website">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Code|Press+Start+2P|Source+Code+Pro&display=swap"
    rel="stylesheet">
  <!-- Parallax Scrolling -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Parallax Scrolling need to change the path -->
  <script src="images/parallax.js"></script>
</head>

<body>

  <div id="wrapper">

    <div id="header">

      <div class="top_banner">
        <!-- <h1>Enter Site Title</h1>
      <p>Enter Site Slogan</p> -->
      </div>

    </div>

    <div id="page_content">

      <div class="navigation">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#"> About Me </a></li>
          <li><a href="#"> Resume </a></li>
          <li><a href="#"> Other Interests </a></li>
          <li><a href="#"> Family Fun </a></li>
          <li><a href="#"> Contact!!! </a></li>
        </ul>
      </div>

      <!--Template designed by--><a href="http://www.htmltemplates.net"><img src="images/design_img.gif"
          class="copyright" alt="HTML Templates"></a>

      <div class="left_side_bar">

        <div class="col_1">
          <h1>Main Menu</h1>
          <div class="box">
            <ul>
              <li><a href="#"> C# Project </a></li>
              <li><a href="#"> Pyhton Project </a></li>
              <li><a href="#"> Angular Project </a></li>
              <li><a href="#"> React Project </a></li>
              <li><a href="#"> Front End Design #1 </a></li>
              <li><a href="#"> Front End Design #2 </a></li>
              <li><a href="#"> LinkedIn </a></li>
              <li><a href="#"> GitHub </a></li>
            </ul>
          </div>
        </div>

        <div class="col_1">
          <h1>Upcoming Events</h1>
          <div class="box">
            <p> Networking Events I'm attending this week</p>
            <br>
            <p>Languages: JavaScript, Python, C#, MEAN, MERN
              Front-End: BootStrap, HTML5, CSS, JQuery, and AJAX, React
              Methodologies: OOP, MVC, API’s
              Frameworks: Django, Express, React, Angular, Flask, Entity, .NET Core, ASP.NET
              Databases: SQL (SQLite, MySQL), NoSQL (MongoDB, Mongoose.js) 
              Other: Github
              </p>
          </div>
        </div>

      </div>

      <div class="right_section">
        <div class="common_content">
          <h2> SUMMARY </h2>
          <p> Enthusiast Full-Stack Developer passionate about finding creative solutions to any problem.  Highly motivated developer with hands on experience designing and developing web applications.  I have discovered an eagerness to learn new things, and I enjoy being part of a team.  I enjoy being creative and hope to find a position that expands upon my experiences and helps me to grow as a developer. </p>
        </div>
        <div class="top_content">
          <div class="column_one">
            <h2> CODING DOJO </h2>
            <p>	Intensive 14 week coding boot camp where I spent over 1000 hours of coding coursework learning Web Fundamentals: HTML, CSS and JavaScript and then three full stacks: Python/Django, C# /.NET, MEAN, MERN as well utilizing different frameworks and technologies.</p>
            <br>
            <p><a href="#" class="btn">Read more</a></p>
          </div>
          <div class="column_two border_left">
            <h2> FUN STUFF </h2>
            <p> Miami University Men’s Club Soccer Team 2003 – 2007
              - 2004 National Qualifiers; at the University of Texas; Austin, Texas
              Appointed Treasurer for the Men’s Club Soccer Team.  2006
              - Managed the budget for the team.
              - Responsible for paying for hotels, club dues, and referees.
              - All responsibilities below
              Appointed Secretary for the Men’s Club Soccer Team. 2005
              - Informed people of upcoming meetings and practices
              - Helped in choosing players for the team </p>
            <br>
            <p><a href="#" class="btn">Read more</a></p>
          </div>
        </div>
      </div>

      <div class="clear"></div>

      <div id="footer">Copyright &copy; Mock Profile 2020. 
        <br>
        <span class="mini"> Design by <a href="http://www.htmltemplates.net"
          target="_blank">htmltemplates.net </span>
        </a><br>

      </div>

    </div>

  </div>

</body>

</html>